* {
  box-sizing: border-box;
  overflow: show;
}

body {
  font-size: 16px;
  line-height: 22px;
  color: #111;
  font-family: "Gregor", serif;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}

.hr-menu {
  border: none; /* Убираем границу */
  background-color: black;
  height: 1px; /* Толщина линии */
  margin: 0;
}

.header {
  background-color: #26282d;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.1);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-navigation {
  justify-content: space-between;
  display: flex;
}

.header-navigation-menu {
  margin: 0;
  text-align: center;
  list-style: none;
  max-width: 900px;
  position: relative;
  align-self: center;
}

.header-navigation-menu_item {
  display: inline-block;
  margin-right: 20px;
  color: #ffffff;
  font-family: "ProximaNova", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
.header-navigation-menu_item:hover {
  color: #26bf68;
  transition: 0.3s;
}
.header-navigation-menu_item_search {
  color: #ffffff;
  font-family: "ProximaNova", sans-serif;
  font-size: 16px;
  font-weight: 600;
  list-style: none;
  padding-top: 15px;
  margin-right: 30px;
  text-decoration: none;
}
.header-navigation-menu_item_search-button {
  color: #ffffff;
  font-family: "ProximaNova", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  background: transparent;
}
.header-navigation-menu_item_search-button:hover {
  color: #26bf68;
  transition: 0.3s;
}
.header-navigation-line-2 {
  justify-content: space-between;
  display: flex;
  height: 32px;
}

.header-navigation_line-2-ul {
  text-align: center;
  margin: 0;
  text-align: center;
  list-style: none;
  max-width: 900px;
  position: relative;
  align-self: center;
}
.header-navigation_line-2-ul-item {
  display: inline-block;
  margin-right: 15px;
  color: #26bf68;
  font-family: "Helvetica", sans-serif;
  font-size: 11px;
  font-weight: 700;
  text-decoration: none;
}
.header-navigation_line-2-ul-item:hover {
  color: #fff;
  transition: 0.3s;
}

.all-themes {
  justify-content: flex-start;
  color: #ffffff;
  font-family: "Helvetica", sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 0px;
  padding-top: 8px;
  margin-left: 30px;
}
.all-themes-button {
  color: #ffffff;
  font-family: "Helvetica", sans-serif;
  font-size: 11px;
  font-weight: 700;
  border: 0;
  background: transparent;
}
.all-themes-button:hover {
  color: #26bf68;
  transition: 0.3s;
}

.header-navigation-line-3 {
  justify-content: space-between;
  display: flex;
  background-color: #2e292a;
  padding-top: 20px;
}

.header-navigation-line-3-logo {
  color: #ffffff;
  font-family: "ProximaNova", sans-serif;
  font-size: 38px;
  font-weight: 400;
  height: 32px;
  margin-left: 30px;
  margin-bottom: 30px;
  padding-top: 5px;
}
.header-navigation-line-3-logo-link {
  color: #ffffff;
  font-family: "ProximaNova", sans-serif;
  font-size: 38px;
  font-weight: 400;
  text-decoration: none;
}
.header-navigation-line-3-logo-link:hover {
  color: #26bf68;
  transition: 0.3s;
}
.header-navigation-login {
  color: #ffffff;
  font-family: "ProximaNova", sans-serif;
  font-size: 16px;
  font-weight: 600;
  list-style: none;
  padding-top: 15px;
  margin-right: 30px;
}
.header-navigation-login-link {
  text-decoration: none;
  color: #ffffff;
  font-family: "ProximaNova", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.header-navigation-login-link:hover {
  color: #26bf68;
  transition: 0.3s;
}
.vertical {
  color: #34363a;
}
.container-body {
  background-color: #f5f5f5;
  margin-top: 150px;
  margin-left: -10px;
  margin-right: -10px;
}

.container-top-news {
  justify-content: center;
  display: flex;
  list-style: none;
}
.container-top-news-1 {
  margin-top: 50px;
  flex-grow: 2;
  margin-right: 50px;
  background-color: #fff;
  padding-bottom: 20px;
}
.container-top-news-link {
  text-decoration: none;
  color: #ffffff;
}
.container-top-text-link {
  color: #fff;
  text-decoration: none;
}
.container-top-news-2 {
  margin-top: 50px;
  flex-grow: 1;
  margin-right: 50px;
  background-color: #fff;
  padding-bottom: 20px;
}
.top-news-2-img {
  height: 210px;
  width: 400px;
}
.container-top-news-1-text {
  background-image: url(static/top-news.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 440px;
  font-family: "ProximaNova", sans-serif;
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  padding-top: 320px;
  padding-left: 10px;
  padding-right: 5px;
}
.button-metod-and-news {
  color: #26bf68;
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none;
  background: #fff; /* фон кнопки */
  outline: none; /* убирать контур в Mozilla */
  border-radius: 20px;
  text-decoration: none;
  border: 0;
  height: 30px;
  width: 80px;
  margin-bottom: 20px;
  font-weight: 600;
}
.container-top-news-1-text-small {
  width: 800px;
  display: block;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 38px;
}

.hr_author {
  background: darkgrey;
  color: darkgrey;
  margin: 0;
  border: 0;
  height: 3px;
  margin-left: 10px;
  margin-right: 10px;
}

.author {
  font-weight: 600;
}

.date {
  color: darkgrey;
}
.author_and_date {
  padding-top: 10px;
  overflow: hidden;
  margin-left: 10px;
}

.container-top-news-2-mol-bel-news {
  display: inline-block;
  margin-right: 10px;
  color: #26bf68;
  font-family: "Helvetica", sans-serif;
  font-size: 11px;
  font-weight: 700;
}
.container-top-news-2-mol-bel-news-link {
  text-decoration: none;
  color: #26bf68;
}
.container-top-news-2-mol-bel-news-link:hover {
  color: #800080;
  transition: 0.3s;
}
.container-top-news-2-block-mol-bel-news {
  text-align: left;
  margin: 0;
  padding-left: 10px;
}

.container-top-news-2-text {
  font-weight: 700;
  font-stretch: normal;
  font-size: 19px;
  line-height: 22px;
  font-family: ProximaNova, sans-serif;
  padding-left: 10px;
}

.container-top-news-2-tex-small {
  width: 400px;
  display: block;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
}

.declaration {
  color: #26bf68;
  font-family: "ProximaNova";
  font-size: 33px;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.declaration-text-link {
  text-decoration: none;
  color: #26bf68;
}
.declaration-text-link:hover {
  color: #111;
  transition: 0.5s;
}
.container-declaration {
  justify-content: center;
  display: flex;
  list-style: none;
  padding-top: 20px;
}
.container-declaration-1 {
  flex: 1 1 100px;
  display: inline-block;
  background: #fff;
  margin-right: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 650px;
}

.container-declaration-2 {
  flex: 1 1 100px;
  display: inline-block;
  background: #fff;
  margin-left: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 650px;
}

.container-declaration-1-colorado-beetle {
  width: 200px;
  height: 200px;
  float: left;
}

.container-declaration-2-machine {
  width: 200px;
  height: 200px;
  float: left;
}
.container-declaration-event {
  color: #26bf68;
  font-family: "Helvetica", sans-serif;
  font-size: 11px;
  font-weight: 700;
  padding-left: 10px;
  padding-top: 30px;
}
.container-declaration-1-title {
  font-weight: 700;
  font-stretch: normal;
  font-size: 19px;
  line-height: 22px;
  font-family: ProximaNova, sans-serif;
  padding-left: 10px;
  margin-top: 20px;
}
.container-declaration-1-title-link {
  text-decoration: none;
  color: #111;
}
.container-declaration-date {
  color: #26bf68;
  font-family: "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding-left: 20px;
}
.container-declaration-place {
  color: darkgrey;
  padding-left: 10px;
}

.container_news {
  justify-content: center;
  display: flex;
  list-style: none;
}
.container_news-1 {
  margin-top: 50px;
  flex: 1 1 100px;
  margin-right: 50px;
  background-color: #fff;
  padding-bottom: 20px;
  flex-grow: 1;
}
.container_news-2 {
  margin-top: 50px;
  flex: 1 1 100px;
  margin-right: 50px;
  background-color: #fff;
  padding-bottom: 20px;
  flex-grow: 1;
}
.container_news-3 {
  margin-top: 50px;
  flex: 1 1 100px;
  margin-right: 50px;
  background-color: #fff;
  padding-bottom: 20px;
  flex-grow: 1;
}
.container-news-3-text-small {
  width: 400px;
  display: block;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 195px;
}
.container_news-2-hr {
  border: none; /* Убираем границу */
  background-color: #26bf68;
  height: 5px; /* Толщина линии */
  margin-left: -10px;
  margin-bottom: 20px;
}
.container-news-2-tex-small {
  width: 400px;
  display: block;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 80px;
}
.container-news-2-text {
  width: 400px;
  font-weight: 700;
  font-stretch: normal;
  font-size: 19px;
  line-height: 22px;
  font-family: ProximaNova, sans-serif;
  padding-left: 10px;
}
.container-top-news-2-text-link {
  text-decoration: none;
  color: #111;
}
.container_nature-sniece {
  display: flex;
  justify-content: center;
  list-style: none;
}
.container_nature-sniece-block-1 {
  width: 600px;
  margin-top: 50px;
  flex: 1 1 100px;
  margin-right: 50px;
  background-color: #fff;
  padding-bottom: 20px;
}
.container_nature-sniece-block-2 {
  width: 600px;
  margin-top: 50px;
  flex: 1 1 100px;
  margin-right: 50px;
  background-color: #fff;
  padding-bottom: 20px;
}
.container_nature-sniece-tex-small-1 {
  width: 600px;
  display: block;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 110px;
}
.container_nature-sniece-tex-small-2 {
  width: 600px;
  display: block;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
}
.container_overview {
  justify-content: center;
  display: flex;
  list-style: none;
}
.container_overview-img {
  height: 400px;
  width: 400px;
}
.container-popular {
  display: flex;
  list-style: none;
  justify-content: center;
}
.container-popular-block-1 {
  flex-grow: 2;
  display: inline-block;
}
.container-popular-block-2 {
  flex-grow: 1;
  display: inline-block;
  background: #fff;
  padding-bottom: 23px;
}
.container-popular-block-1-title {
  background-image: url(static/popylar-1-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 440px;
  font-family: "ProximaNova", sans-serif;
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  padding-top: 320px;
  padding-left: 10px;
  padding-right: 5px;
}

.container-popular-line-2 {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-bottom: 20px;
}
.container-popular-line-2-block-1 {
  flex-grow: 1;
  display: inline-block;
  margin-right: 50px;
  background-color: #fff;
  padding-bottom: 10px;
}
.container-popular-line-2-block-2 {
  flex-grow: 1;
  display: inline-block;
  margin-right: 50px;
  background-color: #fff;
  padding-bottom: 10px;
}
.container-popular-line-2-block-3 {
  flex-grow: 1;
  display: inline-block;
  margin-right: 50px;
  background-color: #fff;
  padding-bottom: 10px;
}
.container-popular-line-2-title {
  max-width: 400px;
  font-weight: 700;
  font-size: 19px;
  font-family: ProximaNova, sans-serif;
  padding-left: 10px;
}
.container-popular-line-2-hr {
  border: none; /* Убираем границу */
  background-color: #26bf68;
  height: 5px; /* Толщина линии */
  margin-left: -10px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.footer {
  background-color: #26282d;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer-line-1 {
  display: flex;
  justify-content: space-between;
  background-color: #2e292a;
  margin: 0;
  padding-top: 20px;
}

.footer-line-1-icon {
  color: #ffffff;
  font-family: "ProximaNova", sans-serif;
  font-size: 38px;
  font-weight: 400;
  margin-left: 30px;
  padding-top: 5px;
  display: inline;
  padding-bottom: 20px;
  flex-grow: 1;
}
.footer-line-1-text {
  flex-grow: 4;
  color: #ffffff;
  font-family: "ProximaNova", sans-serif;
  font-size: 10px;
  margin-bottom: 30px;
  margin-right: auto;
  padding-top: 5px;
  display: block;
  white-space: normal;
}
.footer-line-2 {
  margin-top: 30px;
  background-color: #2e292a;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.about {
  display: flex;
  list-style: none;
}
.about-project {
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  color: #26bf68;
  font-family: "Helvetica", sans-serif;
  font-size: 11px;
  font-weight: 700;
}
.about-subscribe {
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  color: #ffffff;
  font-family: "Helvetica", sans-serif;
  font-size: 11px;
  font-weight: 700;
}
